{% extends 'layout.html' %}

{% block title %}Cambio de Contraseña{% endblock %}
{% block css %}
    <style>
        
   </style>
{% endblock %}

{% block body_class %}cambio_contra{% endblock %}


{% block content %}


    <div class="main">

        <p>Este sitio está en construcción</p>
        <h1>Hola {{user.nombres}}</h1>
        <div class="input">
            <input type="password" placeholder="Contraseña actual" name="password">
        </div>
        <div class="input">
            <input type="password" placeholder="Nueva Contraseña" name="newpass">
        </div>
        <div class="input">
            <input type="password" placeholder="Confirmar Contraseña" name="conf_newpass">
        </div>
        <div>
        <button class="Confirmar">Confirmar</button>
        <p>Tu sesión expira: {{sesion.expires}}</p>

    </div>

    <p>Estamos trabajando para tí</p>

    <div>
    </div>
{% endblock %}
