{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block css %}
<style>
*{
    font-family:'Montserrat';
}
    .parent {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top:10rem;
    }

    .box {
        border-radius: 1rem;
        width: 300px;
        height: 200px;
        border: none;
        padding: 20px;
        margin: 100px;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 30px;
        background-color: rgb(168, 187, 241);
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        transition: .3s;
    }
    .box .imge{
        height: 150px;
    }
    .box:hover{
        background-color: #a98bf5;
    }
</style>

<script src="https://kit.fontawesome.com/80905f653a.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body_class %}Inicio{% endblock %}



{% block content %}
<div class="parent">
    <a href="#" class="box">
        <i class="fa-regular fa-calendar-days"></i>
        <span>Ver disponibilidad</span>
        </a>
    <a href="#" class="box">
        <i class="fa-regular fa-clock"></i>
      <span>Ver horarios</span>

        </a>
</div>
{% endblock %}
