{% extends 'layout.html' %}
{% block title %}Usuarios{% endblock %}

{% block body_class %}adminusuarios{% endblock %}

{% block css %}

<style>
body{
    font-family: Montserrat,Arial;
}
    #input-data {
        width: 90vw;
        font-family: Montserrat,Arial;
        margin: 0 auto;
        margin-top: 5vh;
        display: flex;
    }

    .input-text {
        flex: 1;
        min-width: 210px;
        margin: 5px;
        box-shadow:  #797979 0 0 5px 0px;
        border:none;
        height: 35px;
        font-family: Montserrat,Arial;
        padding-left: 5px;
        border-radius: 10px;

        border-width: 1px;
        border-color: #262626;
        transition: 0.25s;
        outline: none;
    }

    .input-text:focus {
        border-color: blueviolet;
    }

    .input-btn {
        flex: 1;
        margin: 5px;
        height: 39px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #262626;
        cursor: pointer;
        transition: 0.3s all ease;
    }

    .input-btn:hover {
        background-color: #383838;
        border-color: #383838;
        color: white;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    /* --------------------------- Table --------------------------- */

    #myTable {
        width: 90%;
        margin: 0 auto;
        margin-top: 5vh;
        border-collapse: collapse;
    }

    #myTable th {
        background-color: blueviolet;
        padding: 10px;
        color: white;
        font-weight: 100;
    }

    #myTable td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #myTable td {
        padding: 5px;
    }

    #myTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #myTable tr:hover {
        background-color: #352875;
        color:white;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }

    .remove-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-width: 0px;
        background-color: transparent;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<section id="table">
    <form action="/crear_materia" method="POST" id="user-form">
        <div id="input-data">
            <input name="nombre" class="input-text" placeholder="Nombre" type="text" required />
            <input name="clave" class="input-text" placeholder="Clave" type="text" required />
            <input name="semestre" class="input-text" placeholder="Semestre" type="number" required />
            <input name="Hpracticas" class="input-text" placeholder="Horas Prácticas" type="number" required />
            <input name="Hteoria" class="input-text" placeholder="Horas Teóricas" type="number" required />
            <input name="Creditos" class="input-text" placeholder="Créditos" type="number" required />
            <select name="carrera" class="input-text" required>
                {% for carrera in carreras %}
                <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                {% endfor %}
            </select>
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    
    <table id="myTable">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Clave</th>
            <th>Semestre</th>
            <th>Horas Prácticas</th>
            <th>Horas Teóricas</th>
            <th>Créditos</th>
            <th>Carrera</th>
        </tr>
        {% for materia in materias %}
        <tr onclick="redirectToUserPage('{{ materia.id }}')">
            <td>{{ materia.id }}</td>
            <td>{{ materia.nombre }} </td>
            <td>{{ materia.clave }}</td>
            <td>{{ materia.semestre }}</td>
            <td>{{ materia.horas_practica }}</td>
            <td>{{ materia.horas_teoria }}</td>
            <td>{{ materia.creditos }}</td>
            <td>{% for carrera in carreras %}
                {% if materia.carrera == carrera.id %}
                {{ carrera.nombre }}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

<script>
    

    function redirectToUserPage(materiaId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/admin/modificar/materia/" + materiaId;
    }
</script>
{% endblock %}