{% extends 'layout.html' %}
{% block title %}Usuarios{% endblock %}

{% block body_class %}adminusuarios{% endblock %}

{% block css %}

<style>
    body{
        font-family: Montserrat,Arial;
    }
    #input-data {
        width: 90vw;
        font-family: Ubuntu;
        margin: 0 auto;
        margin-top: 5vh;
        display: flex;
    }

    .input-text {
        flex: 1;
        min-width: 210px;
        margin: 5px;
        height: 35px;
        padding-left: 5px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #262626;
        transition: 0.25s;
        outline: none;
    }

    .input-text:focus {
        border-color: blueviolet;
    }

    .input-btn {
        flex: 1;
        margin: 5px;
        height: 39px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #262626;
        cursor: pointer;
        transition: 0.3s all ease;
    }

    .input-btn:hover {
        background-color: #383838;
        border-color: #383838;
        color: white;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    /* --------------------------- Table --------------------------- */

    #myTable {
        width: 90%;
        margin: 0 auto;
        margin-top: 5vh;
        border-collapse: collapse;
    }

    #myTable th {
        background-color: blueviolet;
        padding: 10px;
        color: white;
        font-weight: 100;
    }

    #myTable td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #myTable td {
        padding: 5px;
    }

    #myTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #myTable tr:hover {
        background-color: #ddd;
    }

    .remove-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-width: 0px;
        background-color: transparent;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<section id="table">
    <form action="/crear_usuario" method="POST" id="user-form">
        <div id="input-data">
            <input name="nombre" class="input-text" placeholder="Nombre" type="text" required />
            <input name="apellido_pat" class="input-text" placeholder="Apellido Paterno" type="text" required />
            <input name="apellido_mat" class="input-text" placeholder="Apellido Materno" type="text" required />
            <input name="email" class="input-text" placeholder="Email" type="email" required />
            <select name="user_type" class="input-text" required>
                <option value="1">Admin</option>
                <option value="2">Jefe de carrera</option>
                <option value="3">Docente</option>
            </select>
            <select name="carrera" class="input-text" required>
                {% for carrera in carreras %}
                <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                {% endfor %}
            </select>
            <input class="input-btn" type="submit" value="Enviar" />
        </div>
    </form>
    
    <table id="myTable">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Tipo de usuario</th>
            <th>Carrera</th>
            <th>Activo</th>
        </tr>
        {% for usuario in usuarios %}
        <tr onclick="redirectToUserPage('{{ usuario.id }}')">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }} {{ usuario.apellido_pat }} {{ usuario.apellido_mat }}</td>
            <td>{{ usuario.email }}</td>
            <td>{% if usuario.user_type == 1 %}
                Admin
                {% elif usuario.user_type == 2 %}
                Jefe de carrera
                {% elif usuario.user_type == 3 %}
                Docente
                {% endif %}
            </td>
            <td>{% for carrera in carreras %}
                {% if usuario.carrera == carrera.id %}
                {{ carrera.nombre }}
                {% endif %}
                {% endfor %}
            </td>
            <td>{% if usuario.habilitado == True %}
                si
                {% else %}
                no
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

<script>
    

    function redirectToUserPage(userId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/admin/modificar/usuario/" + userId;
    }
</script>
{% endblock %}