{% extends 'layout.html' %}
{% block title %}carreras{% endblock %}

{% block body_class %}admilistas{% endblock %}

{% block content %}
<section id="table">
    <form action="/crear_carrera" method="POST" id="user-form">
        <div id="input-data">
            <input name="nombre" class="input-text" placeholder="Nombre" type="text" required />
            <input name="plan" class="input-text" placeholder="Plan de estudio" type="text" required />
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    <div id="table-container">

        <table id="myTable">
            <tr>
                <th>Nombre</th>
                <th>Plan de estudio</th>
            </tr>
            {% for carrera in carreras %}
            <tr onclick="redirectToUserPage('{{ carrera.id }}')">
                <td>{{ carrera.nombre }} </td>
                <td>{{ carrera.plan_de_estudio }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

</section>

<script>


    function redirectToUserPage(carrerasId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/admin/carrera/" + carrerasId;
    }
</script>
{% endblock %}