{% extends 'layout.html' %}
{% block title %}Usuarios{% endblock %}

{% block body_class %}admilistas{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<section id="table">
    <form action="/crear_usuario" method="POST" id="user-form">
        <div id="input-data">
            <input name="nombre" class="input-text" placeholder="Nombre" type="text" required />
            <input name="apellido_pat" class="input-text" placeholder="Apellido Paterno" type="text" required />
            <input name="apellido_mat" class="input-text" placeholder="Apellido Materno" type="text" required />
            <input name="email" class="input-text" placeholder="Email" type="email" required />
            <select name="user_type" class="input-text" required>
                <option value="1">Admin</option>
                <option value="2">Jefe de carrera</option>
                <option value="3">Docente</option>
            </select>
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    <div id="table-container">
        <table id="myTable">
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Tipo de usuario</th>
                <th>Activo</th>
            </tr>
            {% for usuario in usuarios %}
            <tr onclick="redirectToUserPage('{{ usuario.id }}')">
                <td>{{ usuario.apellido_pat }} {{ usuario.apellido_mat }} {{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{% if usuario.user_type == 1 %}
                    Admin
                    {% elif usuario.user_type == 2 %}
                    Jefe de carrera
                    {% elif usuario.user_type == 3 %}
                    Docente
                    {% endif %}
                </td>
                <td>{% if usuario.habilitado == True %}
                    si
                    {% else %}
                    no
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</section>

<!-- New button container -->
<div id="button-container">
    <button class="btn btn-left" onclick="showGuide()">Guía csv</button>
    <form action="/upload_csv_usuario" method="POST" enctype="multipart/form-data">
        <label for="file-upload" class="btn btn-right">Selecciona un archivo</label>
        <input id="file-upload" type="file" name="file" accept=".csv" onchange="displayFileName()">
        <span id="file-name"></span>
        <button class="btn btn-right" type="submit">Subir</button>
    </form>
</div>

<!-- Modal for displaying the guide image -->
<div id="guideModal" class="modal">
    <span class="close" onclick="closeGuide()">&times;</span>
    <img class="modal-content" id="guideImage">
    <div id="caption"></div>
</div>

<script>
    function showGuide() {
        const modal = document.getElementById("guideModal");
        const img = document.getElementById("guideImage");
        img.src = "/img/guia_usuario.png";
        modal.style.display = "block";
    }

    function closeGuide() {
        const modal = document.getElementById("guideModal");
        modal.style.display = "none";
    }

    function displayFileName() {
        const fileInput = document.getElementById('file-upload');
        const fileNameSpan = document.getElementById('file-name');
        if (fileInput.files.length > 0) {
            fileNameSpan.textContent = `Archivo seleccionado: ${fileInput.files[0].name}`;
        } else {
            fileNameSpan.textContent = '';
        }
    }

    function redirectToUserPage(userId) {
        window.location.href = "/admin/modificar/usuario/" + userId;
    }
    function uploadFile() {
        const fileInput = document.getElementById('file-upload');
        if (fileInput.files.length === 0) {
            alert('Por favor, selecciona un archivo.');
            return;
        }
        const file = fileInput.files[0];
        if (file.type !== 'text/csv') {
            alert('Por favor, selecciona un archivo .csv.');
            return;
        }
        alert('Archivo listo para subir: ' + file.name);
    }
</script>
{% endblock %}