{% extends 'layout.html' %}
{% block title %}Materias{% endblock %}

{% block body_class %}admilistas{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<section id="table">
    <form action="/crear_materia" method="POST" id="user-form">
        <div id="input-data">
            <input name="nombre" class="input-text" placeholder="Nombre" type="text" required />
            <input name="clave" class="input-text" placeholder="Clave" type="text" required />
            <input name="semestre" class="input-text" placeholder="Semestre" type="number" required />
            <input name="Hpracticas" class="input-text" placeholder="Horas Prácticas" type="number" required />
            <input name="Hteoria" class="input-text" placeholder="Horas Teóricas" type="number" required />
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    <div id="table-container">
        <table id="myTable">
            <tr>
                <th>Nombre</th>
                <th>Clave</th>
                <th>Semestre</th>
                <th>Horas Prácticas</th>
                <th>Horas Teóricas</th>
                <th>Créditos</th>
            </tr>
            {% for materia in materias %}
            <tr onclick="redirectToUserPage('{{ materia.id }}')">
                <td>{{ materia.nombre }} </td>
                <td>{{ materia.clave }}</td>
                <td>{{ materia.semestre }}</td>
                <td>{{ materia.horas_practica }}</td>
                <td>{{ materia.horas_teoria }}</td>
                <td>{{ materia.creditos }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<!-- New button container -->
<div id="button-container">
    <button class="btn btn-left" onclick="showGuide()">Guía csv</button>
    <form action="/upload_csv_materia" method="POST" enctype="multipart/form-data">
        <label for="file-upload" class="btn btn-right">Selecciona un archivo</label>
        <input id="file-upload" type="file" name="file" accept=".csv" onchange="displayFileName()">
        <span id="file-name"></span>
        <button class="btn btn-right" type="submit">Subir</button>
    </form>
</div>

<!-- Modal for displaying the guide image -->
<div id="guideModal" class="modal">
    <span class="close" onclick="closeGuide()">&times;</span>
    <img class="modal-content" id="guideImage">
    <div id="caption"></div>
</div>

<script>


    function redirectToUserPage(materiaId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/admin/modificar/materia/" + materiaId;
    }


    function showGuide() {
        const modal = document.getElementById("guideModal");
        const img = document.getElementById("guideImage");
        img.src = "/img/guia_materia.png";
        modal.style.display = "block";
    }

    function closeGuide() {
        const modal = document.getElementById("guideModal");
        modal.style.display = "none";
    }

    function displayFileName() {
        const fileInput = document.getElementById('file-upload');
        const fileNameSpan = document.getElementById('file-name');
        if (fileInput.files.length > 0) {
            fileNameSpan.textContent = `Archivo seleccionado: ${fileInput.files[0].name}`;
        } else {
            fileNameSpan.textContent = '';
        }
    }
    function uploadFile() {
        const fileInput = document.getElementById('file-upload');
        if (fileInput.files.length === 0) {
            alert('Por favor, selecciona un archivo.');
            return;
        }

        const file = fileInput.files[0];
        if (file.type !== 'text/csv') {
            alert('Por favor, selecciona un archivo .csv.');
            return;
        }

        alert('Archivo listo para subir: ' + file.name);
    }
</script>

{% endblock %}