{% extends 'layout.html' %}
{% block title %}Aulas{% endblock %}

{% block body_class %}admilistas{% endblock %}



{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<section id="table">
    <form action="/crear_aula" method="POST" id="user-form">
        <div id="input-data">
            <input name="nombre" class="input-text" placeholder="Nombre" type="text" required />
            <select name="edificio" class="input-text" required>
                <option value="sistemas">sistemas</option>
                <option value="basicas">basicas</option>
                <option value="industrial">industrial</option>
                <option value="Posgrado">Posgrado</option>
                <option value="Electronica">Electronica</option>
                <option value="Electromecanica">Electromecanica</option>
                <option value="Edificio O">Edificio O</option>
            </select>
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    <div id="table-container">

        <table id="myTable">
            <tr>
                <th>Nombre</th>
                <th>Edificio</th>
            </tr>
            {% for aula in aulas %}
            <tr onclick="redirectToUserPage('{{ aula.id }}')">
                <td>{{ aula.nombre }} </td>
                <td>{{ aula.edificio }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<script>


    function redirectToUserPage(aulasId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/admin/modificar/aula/" + aulasId;
    }
</script>
{% endblock %}