{% extends 'layout.html' %}
{% block title %}ciclos{% endblock %}

{% block body_class %}admilistas{% endblock %}


{% block content %}
<section id="table">
    <form action="/crear_ciclo" method="POST" id="user-form">
        <div id="input-data">
            <input name="anio" class="input-text" placeholder="Año" type="text" required />
            <select name="estacion" class="input-text" required>
                <option value="A">A</option>
                <option value="B">B</option>
            </select>
            <select name="actual" class="input-text" required>
                <option value="true">Es el actual</option>
                <option selected value="false">No es el actual</option>
            </select>
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    <div id="table-container">
        <table id="myTable">
            <tr>
                <th>Ciclo</th>
                <th>Actual</th>
            </tr>
            {% for ciclo in ciclos %}
            <tr onclick="redirectToUserPage('{{ ciclo.id }}')">
                <td>{{ ciclo.anio }}{{ ciclo.estacion }} </td>
                <td>{% if ciclo.actual == True %}
                    Sí
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<script>


    function redirectToUserPage(ciclosId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/admin/modificar/ciclo/" + ciclosId;
    }
</script>
{% endblock %}