{% extends 'layout.html' %}
{% block title %}ciclos{% endblock %}

{% block body_class %}adminciclos{% endblock %}

{% block css %}

<style>
    #input-data {
        width: 90vw;
        margin: 0 auto;
        margin-top: 5vh;
        display: flex;
    }

    .input-text {
        flex: 1;
        min-width: 210px;
        margin: 5px;
        height: 35px;
        padding-left: 5px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #262626;
        transition: 0.25s;
        outline: none;
    }

    .input-text:focus {
        border-color: blueviolet;
    }

    .input-btn {
        flex: 1;
        margin: 5px;
        height: 39px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #262626;
        cursor: pointer;
        transition: 0.3s all ease;
    }

    .input-btn:hover {
        background-color: #383838;
        border-color: #383838;
        color: white;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    /* --------------------------- Table --------------------------- */

    #myTable {
        width: 90%;
        margin: 0 auto;
        margin-top: 5vh;
        border-collapse: collapse;
    }

    #myTable th {
        background-color: blueviolet;
        padding: 10px;
        color: white;
        font-weight: 100;
    }

    #myTable td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #myTable td {
        padding: 5px;
    }

    #myTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #myTable tr:hover {
        background-color: #ddd;
    }

    .remove-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-width: 0px;
        background-color: transparent;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<section id="table">
    <form action="/crear_ciclo" method="POST" id="user-form">
        <div id="input-data">
            <input name="anio" class="input-text" placeholder="Año" type="text" required />
            <select name="estacion" class="input-text" required>
                <option value="A">A</option>
                <option value="B">B</option>
            </select>
            <select name="actual" class="input-text" required>
                <option value="true">Es el actual</option>
                <option value="false">No es el actual</option>
            </select>
            <input class="input-btn" type="submit" value="Enviar" />
        </div>
    </form>
    
    <table id="myTable">
        <tr>
            <th>ID</th>
            <th>Año</th>
            <th>Actual</th>
        </tr>
        {% for ciclo in ciclos %}
        <tr onclick="redirectToUserPage('{{ ciclo.id }}')">
            <td>{{ ciclo.id }}</td>
            <td>{{ ciclo.anio }}{{ ciclo.estacion }} </td>
            <td>{% if ciclo.actual == True %}
                si
                {% else %}
                no
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

<script>
    

    function redirectToUserPage(ciclosId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/admin/modificar/ciclo/" + ciclosId;
    }
</script>
{% endblock %}