{% extends 'layout.html' %}

{% block title %}Asignacion{% endblock %}

{% block body_class %}asignacion{% endblock %}

{% block css %}
<style>
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
  }


  .btns .semestre {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    transition: .5s;
  }

  .btns .semestre:hover {
    background-color: blue;
    color: white;
  }

  .btnsturn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnsturn .turno:hover{
    background-color: blue;
    color: white;
  }

  .btnsturn .turno {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    transition: .5s;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "docentes horario"
      "materias aulas";
  }

  .docentes {
    grid-area: docentes;
    height: 22rem;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }

  .horario {
    grid-area: horario;
    height: 22rem;
    text-align: center;
  }

  .materias {
    grid-area: materias;
    background-color: lightyellow;
    height: 22rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .aulas {
    grid-area: aulas;
    background-color: lightcoral;
    height: 22rem
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .savebtn {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    transition: .5s;
  }

  .docente {
    height: 55px;
    background-color: green;
    border-radius: 5px;
    margin: 5px;
  }

  .docente p {
    text-align: center;
    margin-top: 5px;
  }
  .materia {
    width: auto;
    height: 55px;
    background-color: #897baf;
    color: white;
    border-radius: 5px;
    margin: 5px;
  }

  .materia p {
    text-align: center;
    margin-top: 5px;
  }

  table {
    background-color: aquamarine;
    width: 50rem; 
    max-width: auto;
    height: 25rem;
  }

  table tr {
    background-color: white;
  }
</style>
{% endblock %}

{% block content %}
<div class="btns">
  <button class="semestre" data-semestre="1">Semestre 1</button>
  <button class="semestre" data-semestre="2">Semestre 2</button>
  <button class="semestre" data-semestre="3">Semestre 3</button>
  <button class="semestre" data-semestre="4">Semestre 4</button>
  <button class="semestre" data-semestre="5">Semestre 5</button>
  <button class="semestre" data-semestre="6">Semestre 6</button>
  <button class="semestre" data-semestre="7">Semestre 7</button>
  <button class="semestre" data-semestre="8">Semestre 8</button>
  <button class="semestre" data-semestre="9">Semestre 9</button>
</div>
<div class="btnsturn">
  <p>Turno :</p>
  <button class="turno" id="turnA">A</button>
  <button class="turno" id="turnB">B</button>
  <button class="turno" id="turnN">N</button>
</div>

<div class="container">
  <div class="docentes"> 
    <p>docentes</p>

    {% for docente in docentes %}
      <div class="docente">
        <p><strong>{{docente.nombre}} {{docente.apellido_pat}}</strong></p>
      </div>
      {% endfor %}
  </div>

  <div class="horario">
    <table>
      <tr>
        <th>horas</th>
        <th>lunes</th>
        <th>martes</th>
        <th>miercoles</th>
        <th>jueves</th>
        <th>viernes</th>
        <th>sabado</th>
      </tr>
      <tr>
        <td class="hora">7-8</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="hora">8-9</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="hora">9-10</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="hora">10-11</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="hora">11-12</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="hora">12-13</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="hora">13-14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="hora">14-15</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="materias">
    <p>materias</p>
    {% for asignatura in asignaturas %}
    <div class="materia" data-semestre="{{ asignatura.semestre }}">
      <p>{{ asignatura.nombre }}</p>
      <p>Créditos: {{ asignatura.creditos }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="aulas"> aulas</div>
</div>
<div class="btn">
  <button class="savebtn"> guardar</button>
</div>


{% endblock %}