{% extends 'layout.html' %}
{% block title %}Lista de Docentes{% endblock %}

{% block body_class %}asociar{% endblock %}

{% block content %}
<div class="container">
    <h2 style="color: white;">Lista de Docentes</h2>
    <div id="table-container">

        <table class="myTable">
            <tr>
                <th>Nombre</th>
                <th>Tipo de Usuario</th>
                <th>Habilitado</th>
                <th>Seleccionar</th>
            </tr>
            <!-- Aquí se debe cargar dinámicamente la información de los docentes -->
            {% for docente in docentes %}
            <tr data-id="{{ docente.id }}" onclick="toggleCheckbox(this)">
                <td>{{ docente.nombre }} {{ docente.apellido_pat }} {{ docente.apellido_mat }}</td>
                <td>{% if docente.user_type == 1 %}
                    Admin
                    {% elif docente.user_type == 2 %}
                    Jefe de carrera
                    {% elif docente.user_type == 3 %}
                    Docente
                    {% endif %}</td>
                <td>{{ "Sí" if docente.habilitado else "No" }}</td>
                <td><input type="checkbox" {% if docente_asociado(carreraId, docente.id) %} checked {% endif %}></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button id="saveButton" class="save-btn">Guardar</button>
</div>

<script>
    function toggleCheckbox(row) {
        var checkbox = row.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked;
    }
    document.getElementById("saveButton").addEventListener("click", function () {
        var selectedDocentes = [];
        var deselectedDocentes = [];
        var rows = document.querySelectorAll(".myTable tr[data-id]");
        rows.forEach(function (row) {
            var checkbox = row.querySelector('input[type="checkbox"]');
            var docenteId = row.dataset.id;
            if (checkbox.checked) {
                selectedDocentes.push(docenteId);
            } else if (!checkbox.checked) {
                deselectedDocentes.push(docenteId);
            }
        });

        var carreraId = "{{ carreraId }}";
        guardarSeleccion(carreraId, selectedDocentes, deselectedDocentes);
    });

    function guardarSeleccion(carreraId, docentesSeleccionados, docentesDeseleccionados) {
        var data = {
            carreraId: carreraId,
            docentesSeleccionados: docentesSeleccionados,
            docentesDeseleccionados: docentesDeseleccionados
        };

        fetch("/guardar_docentecarrera", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al guardar los datos");
                }
                return response.json();
            })
            .then(data => {
                window.location.href = "/admin/carrera/" + carreraId;
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }
</script>
{% endblock %}