{% extends 'layout.html' %}
{% block title %}Lista de materias{% endblock %}

{% block body_class %}asociar{% endblock %}

{% block content %}
<div class="container">
    <h2 style="color: white;">Lista de Materias</h2>
    <div id="table-container">
        <table class="myTable">
            <tr>
                <th>Nombre</th>
                <th>Clave</th>
                <th>Semestre</th>
                <th>Horas Práctica</th>
                <th>Horas Teoría</th>
                <th>Creditos</th>
                <th>Seleccionar</th>
            </tr>
            <!-- Aquí se debe cargar dinámicamente la información de los materias -->
            {% for materia in materias %}
            <tr data-id="{{ materia.id }}" onclick="toggleCheckbox(this)">
                <td>{{ materia.nombre }} </td>
                <td>{{ materia.clave }} </td>
                <td>{{ materia.semestre }} </td>
                <td>{{ materia.horas_teoria }} </td>
                <td>{{ materia.horas_practica }} </td>
                <td>{{ materia.creditos }} </td>
                <td><input type="checkbox" {% if materia_asociado(carreraId, materia.id) %} checked {% endif %}></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button id="saveButton" class="save-btn">Guardar</button>
</div>

<script>
    function toggleCheckbox(row) {
        var checkbox = row.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked;
    }
    document.getElementById("saveButton").addEventListener("click", function () {
        var selectedmaterias = [];
        var deselectedmaterias = [];
        var rows = document.querySelectorAll(".myTable tr[data-id]");
        rows.forEach(function (row) {
            var checkbox = row.querySelector('input[type="checkbox"]');
            var materiaId = row.dataset.id;
            if (checkbox.checked) {
                selectedmaterias.push(materiaId);
            } else if (!checkbox.checked) {
                deselectedmaterias.push(materiaId);
            }
        });

        var carreraId = "{{ carreraId }}";
        guardarSeleccion(carreraId, selectedmaterias, deselectedmaterias);
    });

    function guardarSeleccion(carreraId, materiasSeleccionados, materiasDeseleccionados) {
        var data = {
            carreraId: carreraId,
            materiasSeleccionados: materiasSeleccionados,
            materiasDeseleccionados: materiasDeseleccionados
        };

        fetch("/guardar_materiacarrera", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al guardar los datos");
                }
                return response.json();
            })
            .then(data => {
                window.location.href = "/admin/carrera/" + carreraId;
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }
</script>
{% endblock %}