{% extends 'layout.html' %}
{% block title %}carreras{% endblock %}

{% block body_class %}admincarreras{% endblock %}

{% block css %}
<style>
    
</style>
{% endblock %}

{% block content %}
<section id="table">
    <div class="top-buttons">
        <button class="action-btn" id="modificarBtn" data-carrera-id="{{ carreraID }}">Modificar Carrera</button>
    </div>
    <div class="container">
        <div class="header-container">
            <h2 style="color: white;">Docentes asociados a la carrera</h2>
        </div>
        <div class="header-container">
            <h2 style="color: white;">Materias asignadas a la carrera</h2>
        </div>
        <div class="content-container">
            <div class="table-container">
                <table class="myTable">
                    <tr>
                        <th>Nombre</th>
                    </tr>
                    {% for docente in docentes %}
                    <tr>
                        <td>{{ docente.usuario.apellido_pat }} {{
                            docente.usuario.apellido_mat}} {{ docente.usuario.nombre }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="table-container">
                <table class="myTable">
                    <tr>
                        <th>Nombre</th>
                        <th>Clave</th>
                        <th>Semestre</th>
                        <th>Horas Práctica</th>
                        <th>Horas Teoría</th>
                        <th>Créditos</th>
                    </tr>
                    {% for materia in materias %}
                    <tr>
                        <td>{{ materia.materia.nombre }}</td>
                        <td>{{ materia.materia.clave }}</td>
                        <td>{{ materia.materia.semestre }}</td>
                        <td>{{ materia.materia.horas_practica }}</td>
                        <td>{{ materia.materia.horas_teoria }}</td>
                        <td>{{ materia.materia.creditos }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="button-container">
            <button class="action-btn" onclick="location.href='/carrera/{{ carreraID }}/asociar/docentes'">Asociar
                Docente</button>
            <button class="action-btn" onclick="location.href='/carrera/{{ carreraID }}/asociar/materias'">Asociar
                Materia</button>
        </div>
    </div>
</section>

<script>

    var modificarBtn = document.getElementById("modificarBtn");
    modificarBtn.addEventListener("click", function () {
        // Obtiene el ID de la carrera del atributo data-carrera-id del botón
        var carreraId = modificarBtn.getAttribute("data-carrera-id");

        // Construye la URL con el ID de la carrera
        var url = "/admin/modificar/carrera/" + carreraId;

        // Redirige a la URL construida
        window.location.href = url;
    });
</script>
{% endblock %}