{% extends 'layout.html' %}

{% block title %}Docentes{% endblock %}

{% block css %}

<script src="https://kit.fontawesome.com/80905f653a.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body_class %}docentes_carrera{% endblock %}



{% block content %}


<div class="principal">

    <div class="seccion">

        <div class="docentes">

            {% for docente in docentes %}
            {% set useridINT = userid | int %}
            <div class="docente"
                style="background: {% if useridINT == docente.usuario.id %}#37109b;{% else %}white;{% endif %}; color: {% if useridINT == docente.usuario.id %}white;{% else %}black;{% endif %}">
                <a style="text-decoration: none; color: {% if useridINT == docente.usuario.id %}white;{% endif %}"
                    href="?userid={{ docente.usuario.id }}">
                    <p>{{ docente.usuario.nombre }} {{ docente.usuario.apellido_pat }} {{ docente.usuario.apellido_mat
                        }}</p>
                </a>
            </div>
            {% endfor %}


        </div>

        <button class="exportbtn" id="exportarBtn">Disponibilidad</button>

    </div>



    <div class="seccion" style="text-align: center; align-items: center;width: 70%">

        <div class="subseccion" style="height: 40rem;">
            <h2 style="color: white;">Horario del docente</h2>

            <div id="contenedor">
                <iframe src="/horarioJ?userid={{ userid }}"></iframe>
            </div>


        </div>


    </div>


</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('exportarBtn').addEventListener('click', function () {
            fetch('/export/disponibilidades', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    // Aquí puedes agregar cualquier dato adicional que desees enviar al servidor
                })
            })
                .then(response => {
                    if (response.ok) {
                        return response.blob();  // Convertir la respuesta a blob
                    } else {
                        throw new Error('Error al exportar datos');
                    }
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'exportacion_grupos.xlsx';  // El nombre del archivo
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error('Error al exportar datos:', error);
                });
        });
    });
</script>



{% endblock %}