{% extends 'layout.html' %}
{% block title %}grupos{% endblock %}

{% block body_class %}admilistas{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<section id="table">
    <form action="/crear_grupo" method="POST" id="user-form">
        <div id="input-data">
            <input name="identificador" class="input-text" placeholder="identificador" type="text" required />
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    <div id="table-container">
        <table id="myTable">
            <tr>
                <th>Nombre</th>
                <th>Semestres Asignados</th>
            </tr>
            {% for grupo_id, grupo_info in grupos.items() %}
            <tr onclick="redirectToUserPage('{{ grupo_id }}')">
                <td>{{ grupo_info.identificador }}</td>
                <td>
                    Semestres:
                    {% for semestre in grupo_info.semestres %}
                    {{ semestre }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<script>

    function redirectToUserPage(grupoId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/jefe/asignar_grupo_semestre/" + grupoId;
    }
</script>
{% endblock %}