{% extends 'layout.html' %}
{% block title %}Lista de semestre{% endblock %}

{% block body_class %}asociar{% endblock %}

{% block content %}
<div class="container">
    <div class="top-buttons">
    <form action="/delete/grupo" method="post" style="margin-top: 10px;">
        <input type="hidden" name="id" value="{{ grupoId }}">
        <button class="action-btn" type="submit"
            onclick="return confirm('¿Estás seguro de que deseas borrar este grupo?')">Borrar grupo</button>
    </form>
    </div>
    <h2 style="color: white;">Lista de semestre</h2>
    <div id="table-container">
        <table class="myTable">
            <tr>
                <th>Semestre</th>
                <th>Seleccionar</th>
            </tr>
            {% for i in range(1, 10) %}
            <tr data-id="{{ i }}" onclick="toggleCheckbox(this)">
                <td>Semestre {{ i }}</td>
                <td><input type="checkbox" {% if grupo_semestre(grupoId, i) %} checked {% endif %}></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button id="saveButton" class="save-btn">Guardar</button>
</div>

<script>
    function toggleCheckbox(row) {
        var checkbox = row.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked;
    }
    document.getElementById("saveButton").addEventListener("click", function () {
        var selectedsemestre = [];
        var deselectedsemestre = [];
        var rows = document.querySelectorAll(".myTable tr[data-id]");
        rows.forEach(function (row) {
            var checkbox = row.querySelector('input[type="checkbox"]');
            var semestreselec = row.dataset.id;
            if (checkbox.checked) {
                selectedsemestre.push(semestreselec);
            } else if (!checkbox.checked) {
                deselectedsemestre.push(semestreselec);
            }
        });

        var grupoId = "{{ grupoId }}";
        guardarSeleccion(grupoId, selectedsemestre, deselectedsemestre);
    });

    function guardarSeleccion(grupoId, semestreSeleccionados, semestreDeseleccionados) {
        var data = {
            grupoId: grupoId,
            semestreSeleccionados: semestreSeleccionados,
            semestreDeseleccionados: semestreDeseleccionados
        };

        fetch("/guardar_gruposemestre", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al guardar los datos");
                }
                return response.json();
            })
            .then(data => {
                window.location.href = "/jefeCarrera/grupos";
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }
</script>
{% endblock %}