{% extends 'layout.html' %}
{% block title %}grupos{% endblock %}

{% block body_class %}admingrupos{% endblock %}

{% block css %}

<style>
    body{
        font-family: Montserrat,Arial;
    }
    
    #input-data {
        width: 80vw; /* Reduciendo el ancho del contenedor */
        font-family: Montserrat,Arial;
        margin: 0 auto;
        margin-top: 3vh; /* Reduciendo el espacio superior */
        display: flex;
        flex-wrap: wrap; /* Permitiendo que los elementos se envuelvan en varias filas si es necesario */
    }
    
    .input-text {
        flex: 1;
        min-width: 180px; /* Reduciendo el ancho mínimo de los campos de entrada */
        margin: 3px; /* Reduciendo el espacio entre los campos de entrada */
        box-shadow:  #797979 0 0 3px 0px; /* Reduciendo la sombra */
        border: none;
        height: 30px; /* Reduciendo la altura de los campos de entrada */
        font-family: Montserrat,Arial;
        padding-left: 5px;
        border-radius: 8px; /* Reduciendo el radio del borde */
        border-width: 1px;
        border-color: #262626;
        transition: 0.2s; /* Reduciendo la duración de la transición */
        outline: none;
        font-size: 14px; /* Reduciendo el tamaño de la fuente */
    }
    
    .input-text:focus {
        border-color: blueviolet;
    }
    
    .input-btn {
        flex: 1;
        margin: 3px; /* Reduciendo el espacio entre el botón y los campos de entrada */
        height: 34px; /* Reduciendo la altura del botón */
        border-radius: 8px; /* Reduciendo el radio del borde */
        border-style: solid;
        border-width: 1px;
        border-color: #262626;
        cursor: pointer;
        transition: 0.2s all ease; /* Reduciendo la duración de la transición */
        font-size: 14px; /* Reduciendo el tamaño de la fuente */
    }
    
    .input-btn:hover {
        background-color: #383838;
        border-color: #383838;
        color: white;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
    
    /* --------------------------- Table --------------------------- */
    
    #myTable {
        width: 80%; /* Reduciendo el ancho de la tabla */
        margin: 0 auto;
        margin-top: 3vh; /* Reduciendo el espacio superior */
        border-collapse: collapse;
    }
    
    #myTable th {
        background-color: blueviolet;
        padding: 8px; /* Reduciendo el relleno de las celdas de encabezado */
        color: white;
        font-weight: 100;
        font-size: 14px; /* Reduciendo el tamaño de la fuente */
    }
    
    #myTable td,
    th {
        border: 1px solid #ddd;
        padding: 6px; /* Reduciendo el relleno de las celdas de datos */
    }
    
    #myTable td {
        padding: 4px; /* Reduciendo el relleno de las celdas de datos */
    }
    
    #myTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #myTable tr:nth-child(odd) {
        background-color: #e0e0e0; /* Fondo gris para las filas impares */
    }
    
    #myTable tr:hover {
        background-color: #352875;
        color: white;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }
    
    .remove-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        border-width: 0px;
        background-color: transparent;
        cursor: pointer;
    }
    .flash {
        background-color: #4CAF50;
        /* Green */
        color: white;
    }
    </style>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<section id="table">
    <form action="/crear_grupo" method="POST" id="user-form">
        <div id="input-data">
            <input name="identificador" class="input-text" placeholder="identificador" type="text" required />
            <input class="input-btn" type="submit" value="Agregar" />
        </div>
    </form>
    
    <table id="myTable">
        <tr>
            <th>Nombre</th>
            <th>Semestres Asignados</th>
        </tr>
        {% for grupo_id, grupo_info in grupos.items() %}
        <tr onclick="redirectToUserPage('{{ grupo_id }}')">
            <td>{{ grupo_info.identificador }}</td>
            <td>
                Semestres:
                {% for semestre in grupo_info.semestres %}
                    {{ semestre }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

<script>
    
    function redirectToUserPage(grupoId) {
        // Redirecciona a la página del usuario pasando su ID como parámetro
        window.location.href = "/jefe/asignar_grupo_semestre/" + grupoId;
    }
</script>
{% endblock %}