{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block css %}

<script src="https://kit.fontawesome.com/80905f653a.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body_class %}inicio{% endblock %}



{% block content %}
<div class="parent">
    <a href="horario" class="box">
        <i class="fa-regular fa-calendar-days"></i>
        <span>Disponibilidad</span>
        </a>
    <a href="#" class="box">
        <i class="fa-regular fa-clock"></i>
      <span>Ver horarios</span>

        </a>
</div>
{% endblock %}
