{% extends 'layout.html' %}
{% block title %}Jefe de carrera{% endblock %}


{% block css %}

    <script src="https://kit.fontawesome.com/80905f653a.js" crossorigin="anonymous"></script>

<style>

    .main1{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        max-height:100%;
        align-items: center;
    }
    .docentes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:0.5rem;
        margin:1rem;
        overflow-y:auto;
    }
    .asignaturas{
        display:flex;
        flex-direction: column;
        gap:0.5rem;
        margin:1rem;
        overflow-y:auto;
    }
    .docente{
        border-radius: 0.5rem;
        padding: 0.5rem;
        background: aliceblue;
        font-family: 'Montserrat';
        width:25rem;
    }
    .asignatura{
        border-radius: 0.5rem;
        padding: 0.5rem;
        background: aliceblue;
        font-family: 'Montserrat';

    }
    .boton{
        background: rgb(168, 187, 241);
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        font-size: 1.2rem;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        width: 10%;
        text-decoration: none;
        color:black;
    }
    .boton i{
        font-size: 5rem;
    }
    .boton:hover{
        transition: ease .3s;
        background: #37109b;
        color:white;
        text-emphasis: white;
    }
    .botones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 10rem;
    }

</style>

{% endblock %}

{% block content %}



    <div class="botones">
        <a class ="boton" href="/jefeCarrera/docentes">
            <div >
                <i class="fa-solid fa-user"></i>
                <p>Docentes</p>
            </div>
        </a>

        <a class ="boton" href="/jefeCarrera/materias">

        <div>
            <i class="fa-solid fa-list-check"></i>
            <p>Materias</p>
        </div>
        </a>

        <a class="boton" href="/jefeCarrera/grupos">
            <div >
                <i class="fa-solid fa-calendar-days"></i>
                <p>Grupos del ciclo</p>
            </div>
            </a>

        <a class="boton" href="/jefeCarrera/asignacion">
        <div >
            <i class="fa-solid fa-calendar-days"></i>
            <p>Asignacion</p>
        </div>
        </a>

        <a class="boton" href="/jefeCarrera/semestres">
            <div >
                <i class="fa-solid fa-calendar-days"></i>
                <p>Semestres</p>
            </div>
            </a>



    </div>




{% endblock %}
