{% extends 'layout.html' %}
{% block title %}Jefe de carrera{% endblock %}


{% block body_class %}jefe_carrera{% endblock %}

{% block css %}

    <script src="https://kit.fontawesome.com/80905f653a.js" crossorigin="anonymous"></script>


{% endblock %}

{% block content %}



    <div class="botones">
        <a class ="boton" href="/jefeCarrera/docentes">
            <div >
                <i class="fa-solid fa-users"></i>
                <p>Docentes</p>
            </div>
        </a>

        <a class ="boton" href="/jefeCarrera/materias">

        <div>
            <i class="fa-solid fa-list-check"></i>
            <p>Materias</p>
        </div>
        </a>

        <a class="boton" href="/jefeCarrera/grupos">
            <div >
                <i class="fa-solid fa-calendar-days"></i>
                <p>Grupos del ciclo</p>
            </div>
            </a>

        <a class="boton" href="/jefeCarrera/asignacion">
        <div >
            <i class="fa-solid fa-table"></i>
            <p>Asignacion</p>
        </div>
        </a>

        <a class="boton" href="/jefeCarrera/semestres">
            <div >
                <i class="fa-solid fa-table-list"></i>
                <p>Semestres</p>
            </div>
            </a>



    </div>




{% endblock %}
