<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
    {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/allstyles.css">
    {% block css %}
    {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header>
            <a href="homeDocente"><img src="/img/logo.jpg"></a>
            <nav>
                <a href="/homeDocente">Vista Docente</a>
                <a href="/jefeCarrera">Vista Jefe de carrera</a>
                <a href="/admin">admin</a>
            </nav>
            <div class="dropdown">
                <button class="dropbtn"> {{user}}</button>
                <div class="dropdown-content">
                    <a href="#">Perfil</a>
                    <a href="/dashboard">Cambiar contraseña</a>
                    <a href="/logout">Cerrar sesión</a>
                </div>
            </div>


        </header>
{% block content %}
{% endblock %}
        <footer style="font-family: 'Montserrat', sans-serif">
            <div>
                <a href="#">Términos y Condiciones</a>
            </div>
            <div>
                <a href="#">Privacidad</a>
            </div>

            <div>
                <a href="#">Enviar solicitud al administrador</a>
            </div>
        </footer>
    </body>
</html>
