{% extends 'layout.html' %}

{% block title %}Docentes{% endblock %}

{% block css %}

<script src="https://kit.fontawesome.com/80905f653a.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body_class %}materias-carrera{% endblock %}



{% block content %}


<div class="principal">

    <div class="seccion">

        <div class="docentes">
            <div class="materia" style="background: #37109b;color:white;">
                <p><strong
                        style=" width: 1rem ; background:#37109b;padding: 0.2rem;border-radius: 0.2rem;color:white;">S</strong>
                    NOMBRE DE LA MATERIA</p>
                <div>
                    <p>T P C</p>
                </div>
            </div>
            {% for materia in materias %}
            <div class="materia" >
                <p><strong
                        style=" width: 1rem ; background: #37109b;padding: 0.2rem;border-radius: 0.2rem;color:white;">{{
                        materia.materia.semestre }}</strong> {{ materia.materia.nombre }} </p>
                <div>
                    <p>{{ materia.materia.horas_teoria }} {{ materia.materia.horas_practica }} {{ materia.materia.creditos }}</p>
                </div>
            </div>

            {% endfor %}


        </div>


    </div>

</div>

{% endblock %}