{% extends 'layout.html' %}

{% block title %}Docentes{% endblock %}

{% block css %}

<script src="https://kit.fontawesome.com/80905f653a.js" crossorigin="anonymous"></script>

<style>
    .principal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .seccion {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 3rem;
    }

    .subseccion {
        width: 100%;
    }

    .materia {
        padding: 0.8rem;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: black;
        border-radius: 0.5rem;
        margin: 0.9rem;
        max-width: 35rem;
        text-decoration: none;
    }

    .materia:hover {
        transition: 0.2s ease-in-out;
        background: #37109b;
        color: white;
    }

    .boton i {
        font-size: 5rem;
    }

    .boton:hover {
        transition: ease .3s;
        background: #a98bf5;
    }

    .docentes {
        margin: 1rem;
    }

    .boton {
        background: rgb(168, 187, 241);
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        width: 90%;
        text-decoration: none;
        color: black;
    }

    #contenedor {
        width: 100%;
        /* Ancho del div contenedor */
        height: 100%;
        /* Alto del div contenedor */
        border: none;
        /* Borde para el div contenedor */
    }

    iframe {
        width: 100%;
        /* Para que el iframe ocupe todo el ancho del contenedor */
        height: 100%;
        /* Para que el iframe ocupe todo el alto del contenedor */
        border: none;
        /* Sin borde para el iframe */
    }
</style>


{% endblock %}

{% block body_class %}inicio{% endblock %}



{% block content %}


<div class="principal">

    <div class="seccion">

        <div class="docentes">
            <div class="materia" style="background: #37109b;color:white;">
                <p><strong
                        style=" width: 1rem ; background:#37109b;padding: 0.2rem;border-radius: 0.2rem;color:white;">S</strong>
                    NOMBRE DE LA MATERIA</p>
                <div>
                    <p>T P C</p>
                </div>
            </div>
            {% for materia in materias %}
            <div class="materia" style="">
                <p><strong
                        style=" width: 1rem ; background: #37109b;padding: 0.2rem;border-radius: 0.2rem;color:white;">{{
                        materia.semestre }}</strong> {{ materia.nombre }} </p>
                <div>
                    <p>{{ materia.horas_teoria }} {{ materia.horas_practica }} {{ materia.creditos }}</p>
                </div>
            </div>

            {% endfor %}


        </div>


    </div>

</div>

{% endblock %}