{% extends 'layout.html' %}

{% block title %}Modificando carrera{% endblock %}

{% block body_class %}modificador{% endblock %}


{% block content %}

<div class="main">
    <h2>Modificando la carrera {{carrera.nombre}}</h2>
    <form action="/update/carrera" method="post">
        <input type="hidden" name="id" value="{{ carrera.id }}">
        <div class="input">
            <label for="nombre">Nombre: </label>
            <input type="text" placeholder="Nombre" name="nombre" value="{{carrera.nombre}}">
        </div>
        <div class="input">
            <label for="plan">Plan de estudio: </label>
            <input type="text" placeholder="ISIC-2010" name="plan" value="{{carrera.plan_de_estudio}}">
        </div>
        <button class="btn" type="submit">Confirmar</button>
    </form>
    <form action="/delete/carrera" method="post" style="margin-top: 10px;">
        <input type="hidden" name="id" value="{{ carrera.id }}">
        <button class="btn btn-delete" type="submit"
            onclick="return confirm('¿Estás seguro de que deseas borrar esta carrera?')">Borrar</button>
    </form>

</div>


<script>

</script>
{% endblock %}