{% extends 'layout.html' %}

{% block title %}Modificando materia{% endblock %}


{% block body_class %}modificador {% endblock %}


{% block content %}

<div class="main">
    <h2>Modificando {{materia.nombre}}</h2>
    <form action="/update/materia" method="post">
        <input type="hidden" name="id" value="{{ materia.id }}">
        <div class="input">
            <label for="nombre">Nombre: </label>
            <input type="text" placeholder="Nombre" name="nombre" value="{{materia.nombre}}">
        </div>
        <div class="input">
            <label for="Clave">Clave: </label>
            <input type="text" placeholder="Clave" name="clave" value="{{materia.clave}}">
        </div>
        <div class="input">
            <label for="Semestre">Semestre: </label>
            <input type="text" placeholder="Semestre" name="semestre" value="{{materia.semestre}}">
        </div>
        <div class="input">
            <label for="Horas practicas">Horas Práctica: </label>
            <input type="text" placeholder="Hpracticas" name="Hpracticas" value="{{materia.horas_practica}}">
        </div>
        <div class="input">
            <label for="Horas teoria">Horas Teoría: </label>
            <input type="text" placeholder="Hteoria" name="Hteoria" value="{{materia.horas_teoria}}">
        </div>
        
        <button class="btn" type="submit">Confirmar</button>
    </form>
    <form action="/delete/materia" method="post" style="margin-top: 10px;">
        <input type="hidden" name="id" value="{{ materia.id }}">
        <button class="btn btn-delete" type="submit"
            onclick="return confirm('¿Estás seguro de que deseas borrar esta materia?')">Borrar</button>
    </form>

</div>


<script>

</script>
{% endblock %}