{% extends 'layout.html' %}

{% block title %}Modificando{% endblock %}


{% block body_class %}modificador{% endblock %}


{% block content %}

<div class="main">
    <h2>Modificando ciclo {{ciclo.nombre}}</h2>
    <form action="/update/ciclo" method="post">
        <input type="hidden" name="id" value="{{ ciclo.id }}">
        <div class="input">
            <label for="anio">Año: </label>
            <input type="text" placeholder="Año" name="anio" value="{{ciclo.anio}}">
        </div>
        
        <div class="input">
            <label for="estacion" class="label">Estación:</label>
            <select id="estacion" name="estacion" class="input-field">
                <option value="A" {% if ciclo.estacion == "A" %} selected {% endif %}>A</option>
                <option value="B" {% if ciclo.estacion == "B" %} selected {% endif %}>B</option>
            </select>
        </div>
        <div class="input">
            <label for="actual" class="label">Actual: </label>
            <select id="actual" name="actual" class="input-field">
                <option value= "true" {% if ciclo.actual %} selected {% endif %}>Sí</option>
                <option value= "false" {% if not ciclo.actual %} selected {% endif %}>No</option>
            </select>
        </div>
        <button class="btn" type="submit">Confirmar</button>
    </form>
    <form action="/delete/ciclo" method="post" style="margin-top: 10px;">
        <input type="hidden" name="id" value="{{ ciclo.id }}">
        <button class="btn btn-delete" type="submit"
            onclick="return confirm('¿Estás seguro de que deseas borrar esta ciclo?')">Borrar</button>
    </form>

</div>


<script>

</script>
{% endblock %}