{% extends 'layout.html' %}

{% block title %}Modificando materia{% endblock %}
{% block css %}
<style>
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        margin: auto;
        margin-top: 100px;
        width: 400px;
        border: 2px solid rgba(255, 255, 255, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        color: white;
        border-radius: 10px;
        padding: 30px 40px;
        background-color: white;
    }

    .main .input {
        width: 19rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .input input {
        width: 78%;
        background: rgb(174, 190, 235);
        box-shadow: 0 0 10px rgba(85, 76, 141, 0.349);
        border-radius: 26px;
        border: solid 2px rgba(255, 255, 255, .2);
        font-size: 16px;
        color: black;
        padding: 9px 4px 10px 10px;
    }

    .input input::placeholder {
        color: rgb(63, 39, 4);
    }

    .main .btn {
        width: 19.5rem;
        height: 50px;
        margin-bottom: 10px;
        background: white;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 15px;
        color: #333;
        transition: .3s;
    }

    .main .btn:hover {
        background-color: #37109b;
        color: white;
    }

    .main .btn-delete:hover {
        background-color: darkred;
    }

    .main h2 {
        font-size: 25px;
        text-align: center;
        color: black;
    }

    .main p {
        color: #333;
    }

    label {
        color: black;
        margin-bottom: 5px;
        /* Ajusta el margen según sea necesario */
    }

    .input-field {
        width: 64%;
        background: rgb(174, 190, 235);
        box-shadow: 0 0 10px rgba(85, 76, 141, 0.349);
        border-radius: 40px;
        border: solid 2px rgba(255, 255, 255, .2);
        font-size: 16px;
        color: black;
        padding: 7px 24px 11px 33px;
        margin-top: 5px;

    }

    .input-field-carrera {
        width: 117%;
        background: rgb(174, 190, 235);
        box-shadow: 0 0 10px rgba(85, 76, 141, 0.349);
        border-radius: 40px;
        border: solid 2px rgba(255, 255, 255, .2);
        font-size: 16px;
        color: black;
        padding: 7px 0px 11px 21px;
        margin-top: 5px;

    }
</style>
{% endblock %}

{% block body_class %}modificador_materia{% endblock %}


{% block content %}

<div class="main">
    <h2>Modificando {{materia.nombre}}</h2>
    <form action="/update/materia" method="post">
        <input type="hidden" name="id" value="{{ materia.id }}">
        <div class="input">
            <label for="nombre">Nombre: </label>
            <input type="text" placeholder="Nombre" name="nombre" value="{{materia.nombre}}">
        </div>
        <div class="input">
            <label for="Clave">Clave: </label>
            <input type="text" placeholder="Clave" name="clave" value="{{materia.clave}}">
        </div>
        <div class="input">
            <label for="Semestre">Semestre: </label>
            <input type="text" placeholder="Semestre" name="semestre" value="{{materia.semestre}}">
        </div>
        <div class="input">
            <label for="Horas practicas">Horas Práctica: </label>
            <input type="text" placeholder="Hpracticas" name="Hpracticas" value="{{materia.horas_practica}}">
        </div>
        <div class="input">
            <label for="Horas teoria">Horas Teoría: </label>
            <input type="text" placeholder="Hteoria" name="Hteoria" value="{{materia.horas_teoria}}">
        </div>
        <div class="input">
            <label for="Creditos">Créditos: </label>
            <input type="text" placeholder="Creditos" name="Creditos" value="{{materia.creditos}}">
        </div>
        <div class="input">
            <label for="carrera" class="label">Carrera:</label>
            <select id="carrear" name="carrera" class="input-field-carrera">
                {% for carrera in carreras %}
                <option value="{{ carrera.id }}" {% if materia.carrera==carrera.id %} selected {% endif %}>
                    {{ carrera.nombre }}
                </option>
                {% endfor %}
            </select>
        </div>
        <button class="btn" type="submit">Confirmar</button>
    </form>
    <form action="/delete/materia" method="post" style="margin-top: 10px;">
        <input type="hidden" name="id" value="{{ materia.id }}">
        <button class="btn btn-delete" type="submit"
            onclick="return confirm('¿Estás seguro de que deseas borrar esta materia?')">Borrar</button>
    </form>

</div>


<script>

</script>
{% endblock %}