{% extends 'layout.html' %}

{% block title %}Semestres{% endblock %}

{% block css %}


<style>
    html {
        font-family: Montserrat, Arial;
    }

    #TablaHorario {
        font-size: small;
    }

    body {
        font-family: Montserrat, Arial;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
    }

    .btns .semestre {
        width: 100px;
        height: 30px;
        margin-left: 10px;
        border: none;
        margin-right: 10px;
        border-radius: 15px;
        transition: .5s;
    }

    .btns .semestre:hover {
        background-color: #37109b;
        color: white;
    }

    .semestre.selected {
        background-color: blue;
        border: #32aa32 2px solid;
        color: white;
    }

    .btnsturn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
    }

    .btnsturn .turno:hover {
        background-color: #37109b;
        border: none;
        color: white;
    }

    .btnsturn .turno {
        width: 100px;
        border: none;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
        transition: .5s;
    }

    .btnsturn .turno.selected {
        background-color: #37109b;
        color: white;
        border: #32aa32 2px solid;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . . ."
            "horario horario horario horario"
            "horario horario horario horario"
            "horario horario horario horario"
            ". . . .";
    }

    .hora {
        font-weight: bolder;
        max-width: 5rem;
    }

    table {
        user-select: none;
        width: 156%;
        height: 98%;
        margin: 0;
        margin-top: 20px;
        border-collapse: collapse;
    }


    table tr {
        background-color: white;
        border: none;
    }

    table th,
    table td {
        border: 1px solid black;
        /* Añade bordes a las celdas */
        padding: 8px;
        /* Ajusta el espacio interno de las celdas */
    }

    table th {
        background-color: #ddd;
        /* Color de fondo para las celdas de encabezado */
    }

    table td {
        white-space: normal;
        font-size: 12px;
        width: 10rem;
        max-width: 10rem;
    }
</style>

{% endblock %}

{% block body_class %}semestres{% endblock %}



{% block content %}


<div class="btns">
    <button class="semestre" data-semestre="1">Semestre 1</button>
    <button class="semestre" data-semestre="2">Semestre 2</button>
    <button class="semestre" data-semestre="3">Semestre 3</button>
    <button class="semestre" data-semestre="4">Semestre 4</button>
    <button class="semestre" data-semestre="5">Semestre 5</button>
    <button class="semestre" data-semestre="6">Semestre 6</button>
    <button class="semestre" data-semestre="7">Semestre 7</button>
    <button class="semestre" data-semestre="8">Semestre 8</button>
    <button class="semestre" data-semestre="9">Semestre 9</button>
</div>
<div class="btnsturn">
    <p>Grupos:</p>
    {% for grupo in grupos %}
    <button class="turno" data-idgrupo="{{ grupo.id }}" data-semestre="{{ grupo.semestre }}"
        data-turno="{{ grupo.identificador }}" style="display: none;">{{ grupo.identificador }}</button>
    {% endfor %}
</div>
<div class="container">
    <div class="horario"></div>
    <table id="TablaHorario">
        <tr>
            <th>Horas</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
        </tr>
        <tr>
            <td class="hora hora-1">7-8</td>
            <td class="dia" id="0"></td>
            <td class="dia" id="15"></td>
            <td class="dia" id="30"></td>
            <td class="dia" id="45"></td>
            <td class="dia" id="60"></td>
            <td class="dia" id="75"></td>
        </tr>
        <tr>
            <td class="hora hora-2">8-9</td>
            <td class="dia" id="1"></td>
            <td class="dia" id="16"></td>
            <td class="dia" id="31"></td>
            <td class="dia" id="46"></td>
            <td class="dia" id="61"></td>
            <td class="dia" id="76"></td>
        </tr>
        <tr>
            <td class="hora hora-3">9-10</td>
            <td class="dia" id="2"></td>
            <td class="dia" id="17"></td>
            <td class="dia" id="32"></td>
            <td class="dia" id="47"></td>
            <td class="dia" id="62"></td>
            <td class="dia" id="77"></td>
        </tr>
        <tr>
            <td class="hora hora-4">10-11</td>
            <td class="dia" id="3"></td>
            <td class="dia" id="18"></td>
            <td class="dia" id="33"></td>
            <td class="dia" id="48"></td>
            <td class="dia" id="63"></td>
            <td class="dia" id="78"></td>
        </tr>
        <tr>
            <td class="hora hora-5">11-12</td>
            <td class="dia" id="4"></td>
            <td class="dia" id="19"></td>
            <td class="dia" id="34"></td>
            <td class="dia" id="49"></td>
            <td class="dia" id="64"></td>
            <td class="dia" id="79"></td>
        </tr>
        <tr>
            <td class="hora hora-6">12-13</td>
            <td class="dia" id="5"></td>
            <td class="dia" id="20"></td>
            <td class="dia" id="35"></td>
            <td class="dia" id="50"></td>
            <td class="dia" id="65"></td>
            <td class="dia" id="80"></td>
        </tr>
        <tr>
            <td class="hora hora-7">13-14</td>
            <td class="dia" id="6"></td>
            <td class="dia" id="21"></td>
            <td class="dia" id="36"></td>
            <td class="dia" id="51"></td>
            <td class="dia" id="66"></td>
            <td class="dia" id="81"></td>
        </tr>
        <tr>
            <td class="hora hora-8">14-15</td>
            <td class="dia" id="7"></td>
            <td class="dia" id="22"></td>
            <td class="dia" id="37"></td>
            <td class="dia" id="52"></td>
            <td class="dia" id="67"></td>
            <td class="dia" id="82"></td>
        </tr>
    </table>

    <div hidden style="overflow: hidden;">
        {% for docente in docentes %}
        <div class="docente" data-id-docente='{{docente.usuario.id}}' data-nombre="{{ docente.usuario.nombre }}"
            data-apellido="{{ docente.usuario.apellido_pat }}" hidden>
        </div>
        {% endfor %}
        {% for asignatura in asignaturas %}
        <div class="materia" data-semestre="{{ asignatura.materia.semestre }}"
            data-id-materia='{{asignatura.materia.id}}' data-credito="{{asignatura.materia.creditos}}"
            data-nombre="{{ asignatura.materia.nombre }}" hidden>
        </div>
        {% endfor %}
        {% for aula in aulas %}
        <div class="aula" data-id-aula="{{aula.id}}" data-nombre="{{ aula.nombre }}" hidden>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const diasOriginales = obtenerDiasOriginales();
        const horasOriginales = obtenerHorasOriginales();

        const turnos = document.querySelectorAll('.turno');
        turnos.forEach(turno => {
            turno.addEventListener("click", () => {
                limpiarTurnosSeleccionados();
                turno.classList.add('selected');
                restaurarHorasOriginales();
                cambiarValoresTabla(turno.getAttribute("data-turno"));
                limpiarCeldas();
                getselecteditems();
            });
        });

        document.querySelectorAll('.semestre').forEach(button => {
            button.addEventListener('click', function () {
                document.querySelectorAll('.semestre').forEach(btn => btn.classList.remove('selected'));
                this.classList.add('selected');
                limpiarTurnosSeleccionados();
                limpiarCeldas();
                mostrarTurnosPorSemestre(this.getAttribute('data-semestre'));
                getselecteditems();
            });
        });

        const semestre1Btn = document.querySelector('.semestre[data-semestre="1"]');
        if (semestre1Btn) semestre1Btn.click();

        function cambiarValoresTabla(turno) {
            const dias = document.querySelectorAll(".dia");
            const horas = document.querySelectorAll(".hora");

            if (turno === "N" || turno === "O") {
                dias.forEach(function (dia, index) {
                    const id = parseInt(diasOriginales[index]) + 7;
                    dia.id = id.toString();
                });
                horas.forEach(function (hora, index) {
                    let inicio = 14 + index;
                    let fin = 15 + index;
                    if (fin > 22) {
                        fin = 22;
                    }
                    hora.textContent = inicio.toString().padStart(2, '0') + '-' + fin.toString().padStart(2, '0');
                });
            } else {
                dias.forEach(function (dia, index) {
                    dia.id = diasOriginales[index];
                });
                // Restaurar las horas en la tabla
                horas.forEach(function (hora, index) {
                    hora.textContent = horasOriginales[index];
                });
            }
        }

        function obtenerDiasOriginales() {
            return Array.from(document.querySelectorAll(".dia")).map(dia => dia.id);
        }

        function obtenerHorasOriginales() {
            return Array.from(document.querySelectorAll(".hora")).map(hora => hora.textContent);
        }

        function restaurarHorasOriginales() {
            const horas = document.querySelectorAll(".hora");
            horas.forEach((hora, index) => {
                hora.textContent = horasOriginales[index];
            });
        }

        function limpiarCeldas() {
            document.querySelectorAll(".dia").forEach(cell => {
                cell.textContent = "";
                cell.style.backgroundColor = "";
            });
        }

        function stringToColor(str) {
            let hash = 0;
            for (let i = 0; i < str.length; i++) {
                hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }
            const h = hash % 360;
            const s = 60 + ((hash * 2) % 40);
            const l = 40 + ((hash * 4) % 30);
            return `hsl(${h}, ${s}%, ${l}%)`;
        }

        function getselecteditems() {
            const turnoSeleccionadoElemento = document.querySelector('.turno.selected');
            const turnoSeleccionado = turnoSeleccionadoElemento ? turnoSeleccionadoElemento.getAttribute('data-idgrupo') : '';
            if (turnoSeleccionado) {
                gethorario(turnoSeleccionado);
            }
        }

        function gethorario(turno) {
            fetch(`/get_horario?turno=${turno}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al obtener los datos de la base de datos');
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data.horario.docente || !data.horario.materia ||
                        !data.horario.aula || !data.horario.cell_ids) {
                        console.log("No se recibieron datos de docente, materia, aula o cellIds.");
                        return;
                    }

                    const docentes = data.horario.docente;
                    const materias = data.horario.materia;
                    const aulas = data.horario.aula;
                    const cellIds = data.horario.cell_ids;

                    // Limpiar las celdas antes de actualizar con nuevos datos
                    document.querySelectorAll(".dia").forEach(cell => {
                        cell.textContent = "";
                        cell.style.backgroundColor = "";
                    });

                    cellIds.forEach((cellId, index) => {
                        const docenteId = docentes[index];
                        const materiaId = materias[index];
                        const aulaId = aulas[index];

                        const cell = document.getElementById(cellId);
                        if (cell) {
                            // Verificar si se recibieron valores para docente, materia y aula
                            if (docenteId && materiaId && aulaId) {
                                const docenteElem = document.querySelector(`.docente[data-id-docente="${docenteId}"]`);
                                const materiaElem = document.querySelector(`.materia[data-id-materia="${materiaId}"]`);
                                const aulaElem = document.querySelector(`.aula[data-id-aula="${aulaId}"]`);

                                if (docenteElem && materiaElem && aulaElem) {
                                    const docenteNombre = docenteElem.dataset.nombre;
                                    const docenteApellido = docenteElem.dataset.apellido;
                                    const nombreCompletoDocente = `${docenteNombre} ${docenteApellido}`;
                                    const materiaNombre = materiaElem.dataset.nombre;
                                    const aulaNombre = aulaElem.dataset.nombre;

                                    // Crear elementos div para cada dato y agregarlos a la celda
                                    const docenteDiv = document.createElement("div");
                                    docenteDiv.textContent = `${nombreCompletoDocente}`;
                                    docenteDiv.setAttribute('data-id', docenteId);

                                    const materiaDiv = document.createElement("div");
                                    materiaDiv.textContent = `${materiaNombre}`;
                                    materiaDiv.setAttribute('data-id', materiaId);
                                    materiaDiv.setAttribute('title', materiaNombre);

                                    const aulaDiv = document.createElement("div");
                                    aulaDiv.textContent = `${aulaNombre}`;
                                    aulaDiv.setAttribute('data-id', aulaId);

                                    cell.appendChild(docenteDiv);
                                    cell.appendChild(materiaDiv);
                                    cell.appendChild(aulaDiv);

                                    // Opcional: asignar un color único basado en los IDs
                                    cell.style.backgroundColor = stringToColor(`${docenteId}-${materiaId}-${aulaId}`);
                                }
                            }
                        }
                    });
                })
                .catch(error => {
                    console.error('Error al obtener los datos de la base de datos:', error);
                });
        }

        function mostrarTurnosPorSemestre(semestre) {
            document.querySelectorAll('.turno').forEach(turno => {
                if (turno.getAttribute('data-semestre') === semestre) {
                    turno.style.display = 'block';
                } else {
                    turno.style.display = 'none';
                }
            });
        }

        function limpiarTurnosSeleccionados() {
            document.querySelectorAll('.turno').forEach(turno => {
                turno.classList.remove('selected');
            });
        }
    });
</script>

{% endblock %}