# Uncomment out the following lines to execute at user login
# [Install]
# WantedBy=default.target

[Container]
Image=docker.io/library/mysql:8.3.0
ContainerName=mysql-achd
Volume=mysql-achd.volume:/var/lib/mysql
Network=achd.network
IP=192.168.5.10
#Pod=achdpod
Secret=achd-md,type=env,target=MYSQL_DATABASE
Secret=achd-mu,type=env,target=MYSQL_USER
Secret=achd-mp,type=env,target=MYSQL_PASSWORD
#Secret=achd-mrp,type=env,target=MYSQL_ROOT_PASSWORD
#PublishPort=3306:3306

#Environment=VARIABLE=valor
