/* Css de Layout */
* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #37109b;
    font-family: 'Montserrat';
    color: #fff;
    border-bottom: 2px solid #e60122;
}

header a img {
    width: 150px;
    height: auto;
}

header nav {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

header nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    transition: .3s;
    border-radius: 10px;
    margin-right: 10px;
    transition: .3s;
}

header nav a:hover {
    background-color: #e60122;
}

.dropdown {
    overflow: hidden;
    float: right;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 10px;
}

.dropdown:hover .dropbtn {
    background-color: #e60122;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #49497e, #302b63, #251e6d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #49497e, #302b63, #251e6d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Css de Dashboard */
.cambio_contra .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    margin: auto;
    margin-top: 100px;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    background-color: white;
}

.cambio_contra .main .input {
    width: 19rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cambio_contra .input input {
    width: 80%;
    background: rgb(174, 190, 235);
    box-shadow: 0 0 10px rgba(85, 76, 141, 0.349);
    border-radius: 40px;
    border: solid 2px rgba(255, 255, 255, .2);
    font-size: 15px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.cambio_contra .input input::placeholder {
    color: rgb(63, 39, 4);
}

.cambio_contra .main .Confirmar {
    width: 19.5rem;
    height: 50px;
    margin-bottom: 10px;
    background: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    transition: .3s;
}

.cambio_contra .main .Confirmar:hover {
    background-color: #37109b;
    color: white;
}

.cambio_contra .main h1 {
    font-size: 35px;
    text-align: center;
    color: black;
}

.cambio_contra .main p {
    color: #333;
}


.cambio_contra .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cfb2b2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 5px;
}

.cambio_contra .popup-content {
    text-align: center;
}

.cambio_contra .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #f80000;
}


/* CSS de HomeDocente*/

.inicio * {
    font-family: 'Montserrat';
}

.inicio .parent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.inicio .box {
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    border: none;
    padding: 20px;
    margin: 100px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
    background-color: rgb(168, 187, 241);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: .3s;
}

.inicio .box .imge {
    height: 150px;
}

.inicio .box:hover {
    background-color: #37109b;
    color: white;

}

.inicio i {
    font-size: 5rem;
}